	</div>
	</div>
	<div class="push"></div>
	</div>
	
	
	<!-- This block is the footer for every page on the back end. -->
	<hr />
	<div class="footer">
		<p>Copyright &copy; Swift Solutions, <?php echo date("Y"); ?></p>
	</div>
	
	<!-- This script coincides with the responsive menu. -->
	<script src="http://purecss.io/combo/1.18.13?/js/ui.js"></script>
	
	
	
	</body>
</html>