*{
	margin:0;
}

html, body{
	height:100%;
}

.wrapper{
	min-height:100%;
	height: auto !important;
	height:100%;
	margin: 0 auto -4em;
}

.footer, .push{
	height: 4em;
}

.footer{
	float:right;
	margin-right:2em;
}

#inner{
	position:relative;
}

#outer{
	position:absolute;
	bottom:0;
}

#theButtons{
	height:20%;
	width:20%;
	display:table;
	margin:0 auto;
	border-style:solid;
	border-width:2px;
	border-color:#D3D3D3;
	padding: 10px;
}

#button1{
	display:table;
	margin:0 auto;
}

#button2{
	display:table;
	margin:0 auto;
	
}

#button3{
	display:table;
	margin:0 auto;
}

#button4{
	display:table;
	margin:0 auto;

}

#transitLogo{
	display:table;
	margin: 0 auto;
	width:75%;
	height:75%;
	padding-bottom: 1em;
	
}

#adminList{
	display:table;
	margin: 0 auto;
}

#editing{
	display:table;
	margin:0 auto;
}

#addButton,#editButton{
	display:table;
	margin:0;
}

#addAdminForm{
	display:table;
	margin: 0 auto;
}

#editAdmins{
	display:table;
	margin:0 auto;
}